
Biblioteca_de_Manipulacao_de_Memoria_Serial.X/nbproject/configurations.xml
Biblioteca_de_Manipulacao_de_Memoria_Serial.X/nbproject/Makefile-default.mk
Biblioteca_de_Manipulacao_de_Memoria_Serial.X/nbproject/Makefile-genesis.properties
Biblioteca_de_Manipulacao_de_Memoria_Serial.X/nbproject/Makefile-impl.mk
Biblioteca_de_Manipulacao_de_Memoria_Serial.X/nbproject/Makefile-local-default.mk
Biblioteca_de_Manipulacao_de_Memoria_Serial.X/nbproject/Makefile-variables.mk
Biblioteca_de_Manipulacao_de_Memoria_Serial.X/nbproject/private/private.xml
